.tag {
  background-color: rgba(58, 58, 110, 0.74);
  font-size: 10px;
}

.type {
  background-color: rgba(75, 75, 231, 0.74);

  font-size: 10px;
}

.body {
  font-size: 10px;
}
.col {
  padding: 0;
}
.cardImg {
  height: 50%;
}
.video {
  width: "80%";
}
.span {
  height: 40%;
}
.cardBody {
  padding: 0.5rem;
  text-align: left;
}
.card {
  height: 250px;
  width: 250px;
}
.card-header {
  padding: 0rem;
}
.card-title {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btnLearn {
  height: 30%;
  margin-right: 5px;
}
.card-footer {
  padding: 0;
}
