.box {
  padding: 0;
}

.jumbotron {
  padding: 0px;
  padding-top: 5px;
}

.btn-category {
  margin-right: 5px;
  margin-bottom: 5px;
}

.body btn {
  background-color: rgb(0, 0, blue);
}
.container {
  padding-right: 5px;
  padding-left: 5px;
}
